.layout-main-container {
  font-size: 9.5pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem 1rem 0rem 1rem;
  transition: margin-left $transitionDuration;
  background: rgb(247, 253, 253);
  overflow: auto;
  padding-bottom: 5vh;

  @media only screen and (max-width: 991px) {
    max-height: 90vh;
    min-height: 90vh;
  }

  @media only screen and (min-width: 992px) {
    min-height: 100vh;
  }
}

.layout-main {
  flex: 1 1 auto;
}
