.p-steps .p-steps-item::before {
    content: " ";
    border-top: 1px solid var(--primary-color);
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
    color: #1B1B19;
    border: 1px solid var(--primary-color);
    background: #ffffff;
    min-width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.143rem;
    z-index: 1;
    border-radius: 50%;
  }