@font-face {
  font-family: KanitLight;
  src: url('/src/assets/fonts/Kanit-Light.ttf');
}

@font-face {
  font-family: KanitExtraLight;
  src: url('/src/assets/fonts/Kanit-ExtraLight.ttf');
}

@font-face {
  font-family: KanitRegular;
  src: url('/src/assets/fonts/Kanit-Regular.ttf');
}

@font-face {
  font-family: KanitMedium;
  src: url('/src/assets/fonts/Kanit-Medium.ttf');
}

@font-face {
  font-family: KanitSemiBold;
  src: url('/src/assets/fonts/Kanit-SemiBold.ttf');
}

@font-face {
  font-family: KanitBold;
  src: url('/src/assets/fonts/Kanit-Bold.ttf');
}

.font-light {
  font-family: KanitLight !important;
}

.font-extra-light {
  font-family: KanitExtraLight !important;
}

.font-regular {
  font-family: KanitRegular !important;
}
.font-medium {
  font-family: KanitMedium !important;
}
.font-semi-bold {
  font-family: KanitSemiBold !important;
}
.font-bold {
  font-family: KanitBold !important;
}


html, body {
  font-family: KanitLight;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --surface-overlay: #f9f9f9;
  --surface-ground: #FFFFFF;
  --primary-color: #00BEB0;
  --text-color: #1B1B19;
}


.icon-home .pi::before, 
.icon-home .p-menuitem-icon::before{
	content: url(/src/assets/icons/home.svg);
}

.icon-piggy-bank .pi::before{
  content: url(/src/assets/icons/piggy-bank.svg);
}

.icon-swap .pi::before{
  content: url(/src/assets/icons/swap.svg);
}

.icon-bank .pi::before{
  content: url(/src/assets/icons/bank.svg);
}

.icon-wallet .pi::before{
  content: url(/src/assets/icons/wallet.svg);
}

.icon-profile-user .pi::before{
  content: url(/src/assets/icons/icon-user.svg);
}

.icon-document-file .pi::before{
  content: url(/src/assets/icons/icon-document.svg);
}

.p-button, .p-button:hover, .p-button:enabled:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.p-selectbutton .p-button.p-highlight:hover,
.p-selectbutton .p-button.p-highlight {
  background: var(--surface-overlay);
  border-color: var(--surface-overlay);
  color: #1B1B19;
}