@font-face {
  font-family: 'Kanit';
  src: url('/src/assets/fonts/Kanit-Regular.ttf') format('ttf');
}

:root {
  --font-family: Kanit, Avenir, Helvetica, Arial, sans-serif;
  font-family: Kanit, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --surface-overlay: #E7E6E7;
  --primary-color: #088D82;
}


.icon-home .pi::before, 
.icon-home .p-menuitem-icon::before{
	content: url(/src/assets/icons/home.svg);
}

.icon-piggy-bank .pi::before{
  content: url(/src/assets/icons/piggy-bank.svg);
}

.icon-swap .pi::before{
  content: url(/src/assets/icons/swap.svg);
}

.icon-bank .pi::before{
  content: url(/src/assets/icons/bank.svg);
}

.icon-wallet .pi::before{
  content: url(/src/assets/icons/wallet.svg);
}